body {
    background-color: rgb(240, 240, 200);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ideas {
    background-color: rgba(173, 2, 2, 0.788);
    border-radius: 20px;
    margin: 20px;
}

.nosotros-franja {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    gap: 40px;
    color: white;
}

.nosotros-vision,
.nosotros-mision {
    flex: 1;
    text-align: left;
}

#nosotros{
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
}


#foto{
    border-radius: 20px;
}